body{
    background-color:pink;
  }

  hr{
    border-color: red;
    border-style:none;
    border-top-style:dotted;
    height:0px;
    border-color:grey;
    border-width:5px;
    width:10%;
  }
  h1{
    color : #090;
    font-size: 80px;
  }
  p{
    color: grey;
  }
  img{
    background-color: blue;
  }
